body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
}

canvas {
  border: 1px solid black;
  background: #eeeeee;
  display: block;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

button {
  display: block;
}

canvas {
  border: 2px solid black;
}
//so i can see the canvas better, not part of the game design
